[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aiofiles = "*"
uvicorn = "*"
python-multipart = "*"
pylint = "*"
requests = "*"
gunicorn = "*"
redis = "*"
pymongo = "*"
jupyter = "*"
pyrebase4 = "*"
firebase-admin = "*"
passlib = {extras = ["bcrypt"], version = "*"}
python-jose = {extras = ["cryptography"], version = "*"}
pytz = "*"
line-bot-sdk = "*"
pydantic = {extras = ["email"], version = "*"}

[dev-packages]
pytest = "*"

[requires]
python_version = "3.9"
